<h1>Listing tracks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist.playlist_tracks.each do |playlist_track| %>
      <tr>
        <td><%= playlist_track.order %>.</td>
        <td><%= playlist_track.track.artist_name %></td>
        <td> - <%= playlist_track.track.title %></td>
        <td><%= link_to 'Show', playlist_track.track %></td>
        <td><%= link_to 'Destroy', playlist_track.track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
