<p id="notice"><%= notice %></p>

<%= @playlist.title %> <BR>
<%= @playlist.description %> <BR>
Tracks: <BR>
<% @playlist.playlist_tracks.each do |playlist_track| %>
  <tr>
    <td><%= playlist_track.order %>.</td>
    <td><%= playlist_track.track.artist_name %> - </td>
    <td><%= playlist_track.track.title %> <br></td>
  </tr>
<% end %>
<br>
<%= link_to 'Back', playlists_path %>
